.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // margin: 0 auto;
    // gap: 30px;
    margin: -15px;
    
}

.clients__item {    
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    // width: 210px;
    flex-basis: calc((100% - 60px) / 2);
    
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 90px) / 3);    
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 180px) / 6);
    }
    // &:not(:last-child) {
            // margin-right: 30px;   }
        // &:not(:nth-last-child(-n+2)) {
        //     margin-bottom: 30px;
        // } 
        
          
}



.clients__link {
    display: flex;
    width: 170px;
    width: 100%;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid get-color('icon-color');
    border-radius: 4px;
    fill: get-color('icon-color');

    &:hover,
    &:focus {
            fill: get-color('accent-clr');
            border: 1px solid get-color('accent-clr');   
        }
                
}

